header {
  background-image: url(imagenes/pixeles.jpg);
  background-size: cover;
  font-size: 16px;
}

header .navbar {
  width: 100%;
}

header .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .navbar .container-fluid img {
  width: 150px;
}

header .navbar .container-fluid .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 3rem;
  height: 100%;
  width: 100%;
}

header .navbar .container-fluid .navbar-nav .nav-link {
  color: white;
}

header .navbar .container-fluid .navbar-nav .imagenCarrito {
  width: 30px;
}

main .card {
  background-color: #E9D431;
  border: 3px solid black;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card #boton1 {
  background-color: red;
}

main .card button {
  background-color: #E9D431;
  border: 3px solid black;
  color: black;
}

#listaBurguer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 20px;
}

.tarjetasCarrito {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
}

.carro_container {
  display: none;
}

.hamb_nombre {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hamb_cantidad {
  font-size: 1.2rem;
  font-weight: bold;
}

.hamb_precio {
  font-size: 1.4rem;
  font-weight: bold;
}

.hamb_img {
  border-radius: 15px;
}

footer {
  background-image: url(imagenes/pixeles.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  padding-top: 1rem;
}

footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

footer .logo img {
  width: 75px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 20%;
}

footer .logo img:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  opacity: 70%;
}

footer img {
  width: 100px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E9D431;
}

h1 {
  color: brown;
  margin: 60px;
  text-align: center;
}

#produc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 5px solid red;
}

.tarjetasCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: solid 1px gray;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tarjetasCarrito img {
  width: 100px;
}

.tarjetasCarrito p {
  margin: 0;
}

#compraTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
/*# sourceMappingURL=stylo.css.map */