




@import "variablesass";

    @import "header";
    @import"main";
    @import "footer";
    


*{
    padding: 0;
    margin: 0;
}

body{
    background-color:map-get($mapacolores, 1) //aplicando map de colores


}

h1{

    color:brown;
    margin: 60px;
    text-align: center;
    
}

#produc{

    display: flex;
    flex-direction: column;
    border: 5px solid red;
}



